<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>51769225826-cr66i194tr2b2h0ghgpnud0b7svier0r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.51769225826-cr66i194tr2b2h0ghgpnud0b7svier0r</string>
	<key>API_KEY</key>
	<string>AIzaSyC6fO8QhowO460JMAh7SroBs0Sb9M95fRM</string>
	<key>GCM_SENDER_ID</key>
	<string>51769225826</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.laurent.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-d0c64</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-d0c64.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:51769225826:ios:25d8f58bcb5281e641173b</string>
</dict>
</plist>